.basketball {
	width: 200px;
	height: 200px;
	background-color: orangered;
	border-radius: 50%;
	position: absolute;
	border: 5px solid black;

	/* animation: bounce 1s infinite; */
	/* animation: name duration timing-function delay iteration-count direction fill-mode; */

	animation-name: bounce3;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	/* animation-timing-function: ease-in-out; */
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	/* animation-timing-function: cubi; */
}

@keyframes bounce {
	0% {
		bottom: 50px;
	}

	25%,
	75% {
		bottom: 100px;
	}

	50% {
		bottom: 200px;
	}

	100% {
		bottom: 0;
	}
}

@keyframes bounce2 {
	0% {
		transform: translateY(100px);
	}

	50% {
		transform: translateY(500px);
	}

	100% {
		transform: translateY(100px);
	}
}

@keyframes bounce3 {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(0, 400px, 0);
	}
}

.circle1 {
	position: absolute;
	width: 200px;
	height: 224px;
	top: -17px;
	left: -140px;
	background-color: transparent;
	border: 5px solid black;
	border-color: transparent black transparent transparent;
	/* border-radius: 50%; */
	border-radius: 0 50% 50% 0;
}

.circle2 {
	position: absolute;
	width: 200px;
	height: 224px;
	top: -17px;
	left: 130px;
	background-color: transparent;
	border: 5px solid black;
	border-color: transparent transparent transparent black;
	/* border-radius: 50%; */
	border-radius: 50% 0 0 50%;
}

.line {
	position: absolute;
	width: 200px;
	height: 200px;
	border: 5px solid black;
	border-color: transparent transparent transparent black;
	left: 100px;
	top: -5px;
}

.middle {
	position: absolute;
	width: 200px;
	height: 200px;
	border: 5px solid black;
	border-color: black transparent transparent transparent;
	left: -5px;
	top: 100px;
}